---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <section class="h-screen p-8">
    <h1 class="font-code font-bold text-4xl mb-4">Hilquias O. Rodrigues</h1>
    <h2 class="font-code font-bold text-2xl mb-4">Software Engineer Front-end</h2>
    <p class="font-code mb-4">
      With over thirteen years in frontend development, I've honed my expertise
      in HTML, CSS, JavaScript, Typescript, and React. My passion lies in
      creating user-friendly web solutions. My commitment to continuous learning
      ensures I'm always up-to-date with industry advancements, enabling me to
      consistently deliver state-of-the-art work.
    </p>
    <h2 class="font-code font-bold text-2xl mb-4">SOCIAL PROFILES</h2>
    <ul class="font-code">
      <li>
        <a href="https://www.linkedin.com/in/hilquias-rodrigues/">Linkedin</a>
      </li>
      <li><a href="https://github.com/hilquias-kil">Github</a></li>
    </ul>
  </section>
  <section>
    <h2>WORK EXPERIENCE</h2>
  </section>
  <section>
    <h2>PROJECTS</h2>
  </section>
  <section>
    <h2>SKILLS</h2>
  </section>
</Layout>
